
# Dependencies
node_modules/

# Expo
*expo
.expo/
dist/
web-build/
expo-env.d.ts
/ios
/android


# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Firebase
firebase.json
.firebaserc
firebase-debug.log
.firebase/*
firestore.rules
firestore.indexes.json
..firebase/
/app/utils/serviceAccountKey.json

# Environment variables
.env
env.d.ts

# misc
.DS_Store